<app-loader></app-loader>
<app-header></app-header>

<!-- <main>
  <ul id="users">
    @for(user of users; track user.id){
      <li>
        <app-user [user]="user" (select)="onSelectUser($event)"></app-user>
      </li>
    }
  </ul>

  @if (name) {
    <app-tasks [userName]="name.name"/>
  }
  @else {
    <p id="fallback">Select the user to see their tasks!</p>
  }
</main> -->

<main>
  <ul id="users">
    
      <li *ngFor="let user of users">
        <app-user [user]="user" [selected]="selectedUserSignal() === user.userId" (select)="onSelectUser($event)"></app-user>
      </li>
    
  </ul>

    <app-tasks *ngIf="computeUser() as user1; else fallback" [userId]="user1.userId" [userName]="user1.userName"/>
  
    <ng-template #fallback>
    <p id="fallback">Select the user to see their tasks!</p>
  </ng-template> 
</main>
